
.listContainer{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.333333%;
}

.oneEventCard:hover {
    transform: translateY(-.5rem);
}

.oneEventCard {
    padding: 20px;
    margin:10px;
    border-radius: 20px;
    color: rgb(54, 84, 96);
    background: #ffffff;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    height: 250px;
}

.detailButton {
    padding: 5px;
    border: 0px;
    border-radius: 10px;
    background: #93BBBF;
    color: #2C3840;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);

}