* {
    margin: 0px;
    padding: 0px;

}
.mainContainer {
    background-color:#F0F0F2 ;
}
img.hero.col {
    width: 50vw;
    height: 73vw;
}
div.hero.col {
    background-image: radial-gradient(#fff 40%,#e6e6e6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vw;
}
.hero.card{
    display: flex;
    height: 15vw;
    justify-content: center;
    text-align: center;
    padding: 20px 50px;
    box-shadow: rgb(91, 91, 91) 6px 6px 10px 1px;
}

